*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  /* font size 16px/  */
  font-size:100%;
    
  /* ## Colors */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /* Typography */
  /* pre set I inter bold */
  --h1-size:1.5rem;
  --h1-weight:700;
  --h1-line-height:1.5;
  --h1-letter-spacing:0;

  /* pre set II 14px regular */
  --h2-size:.875rem;
  --h2-weight:400;
  --h2-line-height:1.5;
  --h2-letter-spacing:0;

  /* pre set II 14px bold */
  --h2-bold-weight:600;


/* Spacing */
/* 8px Spacing Scale (Multiples of 0.5rem) */
  --spacing-25: 0.25rem; /* 4px */
  --spacing-50: 0.50rem;  /* 8px (100% Base Grid) */
  --spacing-75: 0.75rem;  /* 12px  */
  --spacing-100: 1rem;    /* 16px */
  --spacing-150: 1.5rem;  /* 24px */
  --spacing-250: 2.5rem;    /* 40px */

  /* Typography */
  --font-size-body: 0.875rem; /* 14px (14 / 16) */
  --line-height-body: 1.25rem; /* 20px - Snaps close to the 4px/8px grid! */
}


body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-body);
  min-height: 100svh;
  width: 100%;
  padding: 0 var(--spacing-150);
  row-gap: var(--spacing-50);
  line-height: var(--line-height-body);
  align-items: center;
  justify-content: center;
  background-color: var(--grey-900);
}

.main-container{
  display: flex;
  flex-direction: column;
  max-width: 327px;
  width: 100%;
  height: 579px;
  padding: var(--spacing-150);
  row-gap: var(--spacing-150);
  border-radius: var(--spacing-75);
  align-items: center;
  background-color: var(--grey-800);
}

.profile-container{
  line-height: 0;
}

.profile-pic{
  height: 88px;
  width: 88px;
  border-radius: 9999%;
  object-fit: cover;
}

.name-container{
  display: flex;
  flex-direction: column;
  height:61px;
  width: 100%;
  row-gap: var(--spacing-25);
  align-items: center;
}

h1{
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
}

.name{
  color: var(--white);
}

h2{
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
}

.location{
  font-weight: var(--h2-bold-weight);
  color: var(--green);
}

.bio-container{
  height: 21px;
  width: 100%;
}

.bio{
  text-align: center;
  color: var(--white);
}

.links-container{
  display: flex;
  flex-direction: column;
  height: 289px;
  width: 100%;
  row-gap: var(--spacing-100);
  align-items: center;
}

/* reusable link button */
.link-button{
  max-width: 279px;
  width: 100%;
  height: 45px;
  padding: var(--spacing-75);
  column-gap: var(--spacing-50);
  border-radius: var(--spacing-50);
  border: none;
  background-color: var(--grey-700);
  color: var(--white);
  text-decoration: none;
  text-align: center;
}

.link-button:hover{
  background-color: var(--green);
  color: var(--grey-700);
  cursor: pointer;
}

.button-title{
  font-size: var(--h2-size);
  font-weight: var(--h2-bold-weight);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
}


@media screen and (min-width:768px){
body{
  padding: var(--spacing-250);
}

.main-container{
  max-width: 384px;
  height: 611px;
  padding: var(--spacing-250);
}

.link-button{
  max-width: 304px;
}
}

@media screen and (min-width:1440px){

body{
  padding: 0;
}

.link-button{
  max-width: 304px;
}
}

